/* Importando fontes */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* ------ VARIÁVEIS GLOBAIS ------ */
:root {
  /* ------ FONTES ------ */
  /* Fonte para Títulos */
  --font-principal-mont: "Montserrat", sans-serif;
  --font-principal-lato: "Lato", sans-serif;
  /* FOnte para parágrafos */
  --font-principal-play: "Playfair Display", serif;
  --font-content-open: "Open Sans", sans-serif;
  --font-content-lato: "Lato", sans-serif;
  --font-content-rob: "Roboto", sans-serif;

  /* ------ CORES ------ */
  /* Principais */
  --cor-black: #000000;
  --cor-white: #ffffff;
  --cor-gold: #d7ad2e;

  /* Tons dourados */
  --cor-golden-wood: #895801;
  --cor-golden-3: #a07003;
  --cor-golden-2: #aa7606;
  --cor-golden-1: #bc8e12;
  --cor-golden-0: #e9c33a;
  --cor-goldenwhite: #f8e25c;
  --cor-goldenwhite-2: #ffef8d;
  --cor-light-gold: #fff7c9;
  --cor-lighter-gold: #fffae1;
  --cor-lightest-gold: ##fffdee;
  /* Neutras */
  --cor-gray-dark: #2e2e2e;
  --cor-gray: #4d4d4d;
  --cor-gray-2: #6b6b6b;
  --cor-gray-3: #8b8b8b;
  --cor-gray-light: #b5b5b5;
  --cor-gray-lighter: #dcdcdc;
  --cor-gray-lightest: #f5f5f5;
}

/* ------ RESET ------ */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: black;
}

body {
  height: 100dvh;
}
